@import "fonts/fonts.css";
@import "header/header.css";
@import "sidebar/sidebar.css";
@import "content/content.css";
@import "cards/cards.css";
@import "overlay/overlay.css";
@import "edit-popup/edit-popup.css";

@font-face {
    font-family: Inter;
    src: url("../font/inter/static/inter_18pt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../font/inter/static/inter_18pt-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Pacifico;
    src: url("../font/Pacifico/Pacifico-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoMono;
    src: url("../font/Roboto_Mono/static/RobotoMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.page {
    background-color: #EEF5FF;
}

.hidden {
    visibility: hidden;
}


.main {
    width: 80%;
    max-width: 1040px;
    padding: 1.5rem;
    background-color: white;
    border-radius: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.21);
}

body {
    font-family: sans-serif;
    background-color: #e6e9f0;
}

.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 600px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 26px;
    overflow: visible; /* важно, чтобы кнопки не обрезались */
}


.popup-content {
    position: relative;
}

.popup-image {
    width: 256px;
    height: 256px;
    background: #6aa2f9;
    border-radius: 8px;
    margin-bottom: 15px;
}

.popup-title {
    text-align: center;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.popup-row {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.label {
    flex: 1;
    font-weight: bold;
}

.pill {
    background-color: #b5d3ff;
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: default;
}

.popup-description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.4;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-tags {
    padding: 5px;
    border-radius: 6px;
}

.popup-price {
    font-weight: bold;
}

.popup-actions {
    position: absolute;
    top: 20px;
    right: -50px; /* выходят за границу вправо */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.icon-btn {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
