.cards__add-button {
    width: 157px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 23px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    grid-area: add;
    order: -1;
}

.cards__add-button:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.cards__add-button span {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity, 1));
    font-size: 2.25rem;
    line-height: 2.5rem
}