@import "__actions/show-popup__actions.css";
@import "__icon-btn/show-popup__icon-btn.css";
@import "__popup-content/show-popup__popup-content.css";
@import "__popup-image/show-popup__popup-image.css";
@import "__popup-title/show-popup__popup-title.css";
@import "__popup-row/show-popup__popup-row.css";
@import "__label/show-popup__label.css";
@import "__pill/show-popup__pill.css";
@import "__description/show-popup__description.css";
@import "__line/show-popup__line.css";
@import "__footer/show-popup__footer.css";
@import "__tags/show-popup__tags.css";
@import "__price/show-popup__price.css";

.show-popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 600px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 26px;
    overflow: visible;

}