.edit-popup__side-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}


.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn:hover {
    background: #eee;
}
